@{
    Layout = null;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Thông tin người dùng</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Bạn có muốn xóa người dùng này?</p>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="dong">Close</button>
            <button type="submit" class="btn btn-primary"><a>Delete</a></button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
<script>
        //$(document).ready(function () {
        //    $('#dong').click(function (e) {
        //        $('#modal-default').hide();
        //    });
        //});
</script>